@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: white;
}

.create-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-container {
  width: 100%;
  height: 60vh;
  max-width: 800px;
  padding: 20px;
  background-color: #313131;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}